/* admonition

Les icones doivent être sous forme de svg.
On en trouve ici : https://github.com/squidfunk/mkdocs-material/tree/master/material/.icons
Le code se met dans la balise url('data:image/svg+xml;charset=utf-8,__lecode__')

Les couleurs css : https://www.w3schools.com/colors/colors_picker.asp
https://www.w3schools.com/colors/colors_ncs.asp, variation autour de #618685

Choisir un nom pour appeler le style :

!!! NomDuStyle "Chmt de titre"

    le texte ici



*/

:root {
    --md-admonition-icon--exercices: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.5 5.5c1.09 0 2-.92 2-2a2 2 0 0 0-2-2c-1.11 0-2 .88-2 2 0 1.08.89 2 2 2M9.89 19.38l1-4.38L13 17v6h2v-7.5l-2.11-2 .61-3A7.29 7.29 0 0 0 19 13v-2c-1.91 0-3.5-1-4.31-2.42l-1-1.58c-.4-.62-1-1-1.69-1-.31 0-.5.08-.81.08L6 8.28V13h2V9.58l1.79-.7L8.19 17l-4.9-1-.4 2 7 1.38Z"/></svg>')
    }
.md-typeset .admonition.exercices,
.md-typeset details.exercices {
  border-color: rgb(97, 134, 133);
}
.md-typeset .exercices > .admonition-title,
.md-typeset .exercices > summary {
  background-color: rgba(97, 134, 133, 0.1);
}
.md-typeset .exercices > .admonition-title::before,
.md-typeset .exercices > summary::before {
  background-color: rgb(97, 134, 133);
  -webkit-mask-image: var(--md-admonition-icon--exercices);
          mask-image: var(--md-admonition-icon--exercices);
}

:root {
    --md-admonition-icon--competence: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.33 12.91c.09 1.55-.62 3.04-1.89 3.95l.77 1.49c.23.45.26.98.06 1.45-.19.47-.58.84-1.06 1l-.79.25a1.687 1.687 0 0 1-1.86-.55L14.44 18c-.89-.15-1.73-.53-2.44-1.1-.5.15-1 .23-1.5.23-.88 0-1.76-.27-2.5-.79-.53.16-1.07.23-1.62.22-.79.01-1.57-.15-2.3-.45a4.105 4.105 0 0 1-2.43-3.61c-.08-.72.04-1.45.35-2.11-.29-.75-.32-1.57-.07-2.33C2.3 7.11 3 6.32 3.87 5.82c.58-1.69 2.21-2.82 4-2.7 1.6-1.5 4.05-1.66 5.83-.37.42-.11.86-.17 1.3-.17 1.36-.03 2.65.57 3.5 1.64 2.04.53 3.5 2.35 3.58 4.47.05 1.11-.25 2.2-.86 3.13.07.36.11.72.11 1.09m-5-1.41c.57.07 1.02.5 1.02 1.07a1 1 0 0 1-1 1h-.63c-.32.9-.88 1.69-1.62 2.29.25.09.51.14.77.21 5.13-.07 4.53-3.2 4.53-3.25a2.592 2.592 0 0 0-2.69-2.49 1 1 0 0 1-1-1 1 1 0 0 1 1-1c1.23.03 2.41.49 3.33 1.3.05-.29.08-.59.08-.89-.06-1.24-.62-2.32-2.87-2.53-1.25-2.96-4.4-1.32-4.4-.4-.03.23.21.72.25.75a1 1 0 0 1 1 1c0 .55-.45 1-1 1-.53-.02-1.03-.22-1.43-.56-.48.31-1.03.5-1.6.56-.57.05-1.04-.35-1.07-.9a.968.968 0 0 1 .88-1.1c.16-.02.94-.14.94-.77 0-.66.25-1.29.68-1.79-.92-.25-1.91.08-2.91 1.29C6.75 5 6 5.25 5.45 7.2 4.5 7.67 4 8 3.78 9c1.08-.22 2.19-.13 3.22.25.5.19.78.75.59 1.29-.19.52-.77.78-1.29.59-.73-.32-1.55-.34-2.3-.06-.32.27-.32.83-.32 1.27 0 .74.37 1.43 1 1.83.53.27 1.12.41 1.71.4-.15-.26-.28-.53-.39-.81a1.038 1.038 0 0 1 1.96-.68c.4 1.14 1.42 1.92 2.62 2.05 1.37-.07 2.59-.88 3.19-2.13.23-1.38 1.34-1.5 2.56-1.5m2 7.47-.62-1.3-.71.16 1 1.25.33-.11m-4.65-8.61a1 1 0 0 0-.91-1.03c-.71-.04-1.4.2-1.93.67-.57.58-.87 1.38-.84 2.19a1 1 0 0 0 1 1c.57 0 1-.45 1-1 0-.27.07-.54.23-.76.12-.1.27-.15.43-.15.55.03 1.02-.38 1.02-.92Z"/></svg>')
    }
.md-typeset .admonition.competence,
.md-typeset details.competence {
  border-color: rgb(133, 96, 115);
}
.md-typeset .competence > .admonition-title,
.md-typeset .competence > summary {
  background-color: rgba(133, 96, 115, 0.1);
}
.md-typeset .competence > .admonition-title::before,
.md-typeset .competence > summary::before {
  background-color: rgb(133, 96, 115);
  -webkit-mask-image: var(--md-admonition-icon--competence);
          mask-image: var(--md-admonition-icon--competence);
}

/* chapitre */

:root {
    --md-admonition-icon--dossier: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9.3 20H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2h6l2 2h8c1.1 0 2 .9 2 2v6.6c-1.4-1-3.1-1.6-5-1.6-3.5 0-6.6 2.1-7.9 5.3l-.3.7.3.7c.1.1.1.2.2.3M23 19c-.9 2.3-3.3 4-6 4s-5.1-1.7-6-4c.9-2.3 3.3-4 6-4s5.1 1.7 6 4m-3.5 0c0-1.4-1.1-2.5-2.5-2.5s-2.5 1.1-2.5 2.5 1.1 2.5 2.5 2.5 2.5-1.1 2.5-2.5M17 18c-.6 0-1 .4-1 1s.4 1 1 1 1-.4 1-1-.4-1-1-1"/></svg>')
    }
.md-typeset .admonition.dossier,
.md-typeset details.dossier {
  border-color: rgb(255, 0, 255);
}
.md-typeset .dossier > .admonition-title,
.md-typeset .dossier > summary {
  background-color: rgba(255, 0, 255, 0.1);
}
.md-typeset .dossier > .admonition-title::before,
.md-typeset .dossier > summary::before {
  background-color: rgb(255, 0, 255);
  -webkit-mask-image: var(--md-admonition-icon--dossier);
          mask-image: var(--md-admonition-icon--dossier);
}

/* j'apprend */

:root {
    --md-admonition-icon--japprends: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13 3C9.23 3 6.19 5.95 6 9.66l-1.92 2.53c-.24.31 0 .81.42.81H6v3c0 1.11.89 2 2 2h1v3h7v-4.69c2.37-1.12 4-3.51 4-6.31 0-3.86-3.12-7-7-7m1 11h-2v-1h2v1m1.6-4.5a3 3 0 0 1-1.1 1.08V12h-3v-1.42c-1.43-.83-1.93-2.66-1.1-4.08s2.67-1.94 4.1-1.12 1.93 2.67 1.1 4.12Z"/></svg>')
    }
.md-typeset .admonition.japprends,
.md-typeset details.japprends {
  border-color: rgb(0, 102, 0);
}
.md-typeset .japprends > .admonition-title,
.md-typeset .japprends > summary {
  background-color: rgba(0, 102, 0, 0.1);
}
.md-typeset .japprends > .admonition-title::before,
.md-typeset .japprends > summary::before {
  background-color: rgb(0, 102, 0);
  -webkit-mask-image: var(--md-admonition-icon--japprends);
          mask-image: var(--md-admonition-icon--japprends);
}


/* math-definition*/

:root {
    --md-admonition-icon--definition: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc.--><path d="M184 0c30.9 0 56 25.1 56 56v400c0 30.9-25.1 56-56 56-28.9 0-52.7-21.9-55.7-50.1-5.2 1.4-10.7 2.1-16.3 2.1-35.3 0-64-28.7-64-64 0-7.4 1.3-14.6 3.6-21.2C21.4 367.4 0 338.2 0 304c0-31.9 18.7-59.5 45.8-72.3C37.1 220.8 32 207 32 192c0-30.7 21.6-56.3 50.4-62.6C80.8 123.9 80 118 80 112c0-29.9 20.6-55.1 48.3-62.1 3-28 26.8-49.9 55.7-49.9zm144 0c28.9 0 52.6 21.9 55.7 49.9C411.5 56.9 432 82 432 112c0 6-.8 11.9-2.4 17.4 28.8 6.2 50.4 31.9 50.4 62.6 0 15-5.1 28.8-13.8 39.7 27.1 12.8 45.8 40.4 45.8 72.3 0 34.2-21.4 63.4-51.6 74.8 2.3 6.6 3.6 13.8 3.6 21.2 0 35.3-28.7 64-64 64-5.6 0-11.1-.7-16.3-2.1-3 28.2-26.8 50.1-55.7 50.1-30.9 0-56-25.1-56-56V56c0-30.9 25.1-56 56-56z"/></svg>')
}
.md-typeset .admonition.definition,
.md-typeset details.definition {
  border-color: rgb(255, 0, 255);
}
.md-typeset .definition > .admonition-title,
.md-typeset .definition > summary {
  background-color: rgba(255, 0, 255, 0.1);
}
.md-typeset .definition > .admonition-title::before,
.md-typeset .definition > summary::before {
  background-color: rgb(255, 0, 255);
  -webkit-mask-image: var(--md-admonition-icon--definition);
          mask-image: var(--md-admonition-icon--definition);
}

:root{
    --md-admonition-icon--methode: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9.7 4.3 12 1l2.3 3.3c-.7-.2-1.5-.3-2.3-.3s-1.6.1-2.3.3m7.8 1.9c1.1 1.1 2 2.5 2.3 4.1l1.7-3.7-4-.4M5 8.1c.1-.1.1-.1 0 0 .1-.1.1-.1.1-.2.4-.6.9-1.2 1.4-1.7l-4 .3 1.7 3.7c.2-.7.5-1.5.8-2.1m14.2 7.3s0 .1 0 0c-.1.2-.2.4-.3.5v.2c-.4.7-.9 1.2-1.4 1.8l4.1-.3-1.7-3.7c-.2.5-.4 1-.7 1.5m-14 .8c0-.1-.1-.1-.1-.2-.1-.1-.1-.1-.1-.2-.1-.2-.2-.3-.2-.5-.2-.5-.4-1-.5-1.5l-1.7 3.7 4.1.3c-.7-.5-1.1-1-1.5-1.6m7.4 3.8h-1.2c-.6 0-1.2-.2-1.7-.3L12 23l2.3-3.3c-.5.1-1.1.2-1.7.3m3.6-12.2c-2.3-2.3-6.1-2.3-8.5 0s-2.3 6.1 0 8.5 6.1 2.3 8.5 0 2.4-6.2 0-8.5m-7.7 7.7 2.1-4.9 5-2.2-2.1 4.9-5 2.2m4.2-2.8c-.4.4-1 .4-1.4 0-.4-.4-.4-1 0-1.4.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4Z"/></svg>')
}
.md-typeset .admonition.methode,
.md-typeset details.math-propriete {
  border-color: rgb(51, 153, 255);
}
.md-typeset .methode > .admonition-title,
.md-typeset .methode > summary {
  background-color: rgba(51, 153, 255, 0.1);
}
.md-typeset .methode > .admonition-title::before,
.md-typeset .methode > summary::before {
  background-color: rgb(51, 153, 255);
  -webkit-mask-image: var(--md-admonition-icon--methode);
          mask-image: var(--md-admonition-icon--methode);
}

:root{
    --md-admonition-icon--math-propriete: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc.--><path d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4 142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1 3.3-7.9 3.3-16.7 0-24.6-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1-288 0zm144-64c0 35.3-28.7 64-64 64-7.1 0-13.9-1.2-20.3-3.3-5.5-1.8-11.9 1.6-11.7 7.4.3 6.9 1.3 13.8 3.2 20.7 13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1-5.8-.2-9.2 6.1-7.4 11.7 2.1 6.4 3.3 13.2 3.3 20.3z"/></svg>')
}
.md-typeset .admonition.math-propriete,
.md-typeset details.math-propriete {
  border-color: rgb(51, 153, 255);
}
.md-typeset .math-propriete > .admonition-title,
.md-typeset .math-propriete > summary {
  background-color: rgba(51, 153, 255, 0.1);
}
.md-typeset .math-propriete > .admonition-title::before,
.md-typeset .math-propriete > summary::before {
  background-color: rgb(51, 153, 255);
  -webkit-mask-image: var(--md-admonition-icon--math-propriete);
          mask-image: var(--md-admonition-icon--math-propriete);
}

:root {
  --md-admonition-icon--objectifs: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M13.637 2.363h-.001l1.676.335c.09.018.164.084.19.173a.25.25 0 0 1-.062.249l-1.373 1.374a.876.876 0 0 1-.619.256H12.31L9.45 7.611A1.5 1.5 0 1 1 6.5 8a1.501 1.501 0 0 1 1.889-1.449l2.861-2.862V2.552c0-.232.092-.455.256-.619L12.88.559a.25.25 0 0 1 .249-.062c.089.026.155.1.173.19Z"/><path d="M2 8a6 6 0 1 0 11.769-1.656.751.751 0 1 1 1.442-.413 7.502 7.502 0 0 1-12.513 7.371A7.501 7.501 0 0 1 10.069.789a.75.75 0 0 1-.413 1.442A6.001 6.001 0 0 0 2 8Z"/><path d="M5 8a3.002 3.002 0 0 0 4.699 2.476 3 3 0 0 0 1.28-2.827.748.748 0 0 1 1.045-.782.75.75 0 0 1 .445.61A4.5 4.5 0 1 1 8.516 3.53a.75.75 0 1 1-.17 1.49A3 3 0 0 0 5 8Z"/></svg>')
}
.md-typeset .admonition.objectifs,
.md-typeset details.pied-piper {
  border-color: rgb(133, 96, 96);
}
.md-typeset .objectifs > .admonition-title,
.md-typeset .objectifs > summary {
  background-color: rgba(133, 96, 96, 0.1);
}
.md-typeset .objectifs > .admonition-title::before,
.md-typeset .objectifs > summary::before {
  background-color: rgb(133, 96, 96);
  -webkit-mask-image: var(--md-admonition-icon--objectifs);
          mask-image: var(--md-admonition-icon--objectifs);
}  


:root {
  --md-primary-fg-color:        #34568b;
  --md-primary-fg-color--light: #b5c7e3;
  --md-primary-fg-color--dark:  #152238;
}
